{
  "presets": [
    "react",
    "env",
    "stage-1"
  ],
  "plugins": [
    "transform-decorators-legacy",
    "styled-components",
    ["module-resolver", {
      "root": ["./src/client"]
    }]
  ]
}