doctype
html
  head
    title Sakarisson.com
    meta(charset='utf-8')
    meta(name='HandheldFriendly' content='true')
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1')
    meta(name='theme-color' content='#1d1f21')
    meta(name='description' content="Kristian's site")
    meta(name='hostname' content='sakarisson.com')
    meta(property='og:type' content='website')
    meta(property='og:title' content="Kristian's page")
    meta(property='og:url' content='https://sakarisson.com')
    meta(property='og:site_name' content='Sakarisson.com')
    meta(property='og:description' content="Kristian's site")
  body
    noscript
      | Welcome to Kristian Sakarisson's page. You should probably enable JavaScript.
    div#root
      if bundle
        != bundle
    if styleTags
      != styleTags
    style(type='text/css') #root { height: 100% }
    if !dev
      script!='window.__INITIAL_DATA__=' + JSON.stringify(initialData)
      script(src=`${bundleSrc}` defer)
