doctype
html
  head
    title Sakarisson.com
  body
    noscript Welcome to Kristian Sakarisson's page. You need JavaScript to view it.
    div#root
    if !dev
      script!='var initialData=' + JSON.stringify(initialData)
      script(src=`${bundleSrc}`)
